node_modules/**
/_compile/
_build/**
dist/**
.idea/**
.vs/**
deploy.bat
installer/Screwzira-Downloader_*.exe
installer/Ktuvit-Downloader_*.exe
installer/*.reg
installer/*.bat
/.vscode/
*.iml
/coverage/
/lsp/
/.env
