name: Node CI

on:
  pull_request:
    branches:
      - main
  push:
    tags:
      - '*.*.*'

jobs:
  build:

    runs-on: windows-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - name: Install NSIS
      run: |
        Invoke-Expression "& { $(Invoke-RestMethod https://get.scoop.sh) } -RunAsAdmin"
        scoop bucket add extras
        scoop install nsis
    - name: Print NSIS version
      run: makensis -VERSION

    - name: Checkout
      uses: actions/checkout@v4.0.0

    - name: Setup Windows SDK
      uses: GuillaumeFalourd/setup-windows10-sdk-action@v1.11

    - name: Add signtool.exe path to PATH environment variable
      uses: myci-actions/export-env-var-powershell@1
      with:
        name: PATH
        value: $env:PATH;C:\Program Files (x86)\Windows Kits\10\bin\10.0.17763.0\x86\

    - name: Setup NodeJS
      uses: actions/setup-node@v3.8.1
      with:
        node-version: ${{ matrix.node-version }}
        cache: npm

    - name: Dependencies Install
      run: npm ci
      env:
        CI: true

    - name: Build and Test
      run: npm run build
      env:
        CI: true
        KTUVIT_EMAIL: ${{ secrets.KTUVIT_EMAIL }}
        KTUVIT_PASSWORD: ${{ secrets.KTUVIT_PASSWORD }}

    - name: Codecov
      uses: codecov/codecov-action@v3.1.4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: true

    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: installer/Ktuvit-Downloader_*_Setup.exe
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
